# compiled python scripts
*.pyc

# Ignore checkpoints created (especially for the examples)
.ipynb_checkpoints

workbench

# Misc
.DS_Store
analyze/.DS_Store
analyze/Keyword Extraction/data/jobscan/.DS_Store

# ignore log files
*.log

