<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Job Fiction - Find Your Career</title>

	<!-- Stylesheets -->
		<!-- bootstrap core css -->
		<link href="/static/css/lib/bootstrap-responsive.css" rel="stylesheet">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
 		<!-- application custom css -->
 		<link href="/static/css/jobfiction.css" rel="stylesheet">

	<!-- Javascripts -->
		<!-- jquery core and UI -->
	 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  		<!-- jQuery.Shapeshift -->
  		<script src="https://raw.githubusercontent.com/McPants/jquery.shapeshift/master/core/vendor/jquery.touch-punch.min.js"></script>
  		<script src="https://raw.githubusercontent.com/McPants/jquery.shapeshift/master/core/jquery.shapeshift.js"></script>

		<!-- d3 and wrappers -->
		<script src="/static/js/lib/d3.js"></script>
		<script src="/static/js/lib/d3.layout.cloud.js"></script>
		<script src="/static/js/lib/crossfilter.js"></script>
		<script src="/static/js/lib/dc.js"></script>

		<!-- plugin javascript -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


</head>

<body>
	<div class="modal-header">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-app-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a class="navbar-brand page-scroll" href="#page-top">Yelp</a>-->
					<a class="page-scroll" href="/home" target="_top"><h2 class="section-heading">Job Fiction</h2></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-app-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-center">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li><a class="page-scroll" href="#portfolioModal0"><h4 class="section-heading">Job Descriptions</h4></a></li>
						<li><a class="page-scroll" href="#portfolioModal2"><h4 class="section-heading">Model</h4></a></li>
						<li><a class="page-scroll" href="#portfolioModal3"><h4 class="section-heading">Results</h4></a></li>
					</ul>

					
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
	<div class="modal-body" style="max-height: 900px; overflow-y: auto; ">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class='span12' id='explore-container'>

					<section id="portfolioModal">
					  <div class="container">
						<div class="row">
						  <p class="intro-description" style="color: cornflowerblue; font-weight: 300;"></p>

					  </div>
					</section>
				


<!--  JOB DESCRIPTION PAGE -->


					<section id="portfolioModal0">
						
						<div class="container " style="min-height: 900px;">
							<div class="row" >
								<div class="col-lg-12 text-center">
									<p>&nbsp</p>
									<p>&nbsp</p>
									<h2 class="section-heading">Job Descriptions</h2>
									<h4 class="section-subheading text-muted">Enter the descriptions of up to three jobs you currently are interested in.</h4>
								</div>
								<div class="container">
									<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#menu1">Job 1</a></li>
										<li><a data-toggle="tab" href="#menu2">Job 2</a></li>
										<li><a data-toggle="tab" href="#menu3">Job 3</a></li>
									</ul>

									<div class="tab-content well">
										<div id="menu1" class="tab-pane fade in active">
											
											<label for="title1">Title1:</label>
											<input type="text" class="form-control user-job-title" id="title1">
											<label for="desc1">Description:</label>
											<textarea class="form-control user-job-desc" rows="5" id="desc1"></textarea>
											
										</div>
										<div id="menu2" class="tab-pane fade">
											<label for="title2">Title2:</label>
											<input type="text" class="form-control user-job-title" id="title2">
											<label for="desc2">Description:</label>
											<textarea class="form-control user-job-desc" rows="5" id="desc2"></textarea>
										</div>
										<div id="menu3" class="tab-pane fade">
											<label for="title3">Title3:</label>
											<input type="text" class="form-control user-job-title" id="title3">
											<label for="desc3">Description:</label>
											<textarea class="form-control user-job-desc" rows="5" id="desc3"></textarea>
										</div>
									</div>
									<button type="button" class="btn btn-primary btn-sm" id="btn-collect-job-posts">Submit Job Descriptions</button>
									<!-- onclick="JobDescription_dataCollect();Model_parseLoad();" -->
								</div>
							</div>

							<div class="row">

								<div id="description_graph">
									
								</div>


							</div>
						</div>
					</section>

			



<!--  MODEL PAGE -->


					<section id="portfolioModal2" style="min-height: 900px;">
						
						<div class="container ">
							<div class="row">
								<div class="col-lg-12 text-center">
									<p>&nbsp;</p><p>&nbsp;</p>
									<h2 class="section-heading">Job Description Model</h2>
								</div>
							</div>
							<div class="row">
								<!--<H8>&nbsp;</H8>-->
								
								<!-- Trigger the modal with a button -->	
								    <div class="col-sm-2"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Add New Tokens</button></div>
								    <div class="col-sm-2">&nbsp;</div>
								    <div class="col-sm-2" style="background-color:cornflowerblue; color:#e6e6e6;"><strong>Auto - High Weight</strong></div>
								    <div class="col-sm-2" style="background-color:steelblue; color:#e6e6e6;"><strong>Auto - Low Weight</strong></div>
								    <div class="col-sm-2" style="background-color:lightslategray; color:#e6e6e6;"><strong>User Entered</strong></div>
								    
			<!--User Entered Tokens Modal-->
									<!-- Modal -->
									<div id="myModal" class="modal fade" role="dialog">
									  <div class="modal-dialog">

									    <!-- Modal content-->
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal">&times;</button>
									        <h4 class="modal-title">Add New Tokens</h4>
									      </div>
									      <div class="modal-body">
									        <table>
												<tr>
													<td><label for="token">Token Name:</label></td>
													<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
													<td><input type="text" size = "30" id="token"></td>
												</tr>
											
												<tr>
																											
													<td><label for="target_group">Target</label></td>
													<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
													<td><select id="target_group">
															<option value="#must_have">Must Have</option>
															<option value="#nice_have">Nice to Have</option>
														</select></td>
												</tr>
												<tr>
													<td><button type="button" class="btn btn-primary btn-sm" onclick="addNewToken(document.getElementById('target_group').value, document.getElementById('token').value, 'Manual')">Add Token</button></td>
												</tr>
											</table>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
									      </div>
									    </div>

									  </div>
									</div>

							</div>

							<div class="row">
							
								 <h3>Must Have</h3>
								  <div class="modelcontainer" id="must_have">
									<div style="left: 10px; top: 63px;" id="Data Management" class="ss-active-child" data-ss-colspan="PlaceHolder"><p word-wrap="normal" style="text-align:center">&nbsp;</p></div>
								  </div>
								  <h3>Nice to Have</h3>
								  <div class="modelcontainer" id="nice_have">
									<div style="left: 10px; top: 63px;" id="Data Management" class="ss-active-child" data-ss-colspan="PlaceHolder"><p word-wrap="normal" style="text-align:center">&nbsp;</p></div>
								  </div>

								  
								  <h3>Indifferent</h3>These tokens will not influence the job results
								  <div class="modelcontainer" id="indiffer ">
									<!--place holder - will be filled with things later-->
									<div style="left: 10px; top: 63px;" id="Data Management" class="ss-active-child" data-ss-colspan="PlaceHolder"><p word-wrap="normal" style="text-align:center">&nbsp;</p></div>
								  </div>

								  <h3 style = "color:red;">Exclude</h3>Resulting jobs will not include these tokens
								  <div class="modelcontainer" id="exclude" style="border: 1px dashed red;">
									<!--place holder - will be filled with things later-->
									<div style="left: 10px; top: 63px;" id="Data Management" class="ss-active-child" data-ss-colspan="PlaceHolder"><p word-wrap="normal" style="text-align:center">&nbsp;</p></div>
								  </div>
							</div>
							<HR></HR>
						</div>
							
						


					</section>



<!--  RESULTS PAGE -->



					<section id="portfolioModal3" style="min-height: 900px;">
						
						<div class="container ">
							<div class="row">
								<div class="col-lg-12 text-center">
									
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<h2 class="section-heading">Job Search Matches</h2>
								</div>
							</div>
							 <div class="col-sm-2">
							    <button type="button" class="btn btn-primary btn-sm" id="btn-collectResults" onclick="getResults();">Get/Refresh Results</button>
							 </div>
							 <div class="col-sm-2">
							 	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#optionsModal">Options</button>
							 	
							 </div>


			<!--Options Modal-->
									<!-- Modal -->
									<div id="optionsModal" class="modal fade" role="dialog">
									  <div class="modal-dialog">

									    <!-- Modal content-->
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal">&times;</button>
									        <h4 class="modal-title">Set Options</h4>
									      </div>
									      <div class="modal-body">
									        <table>
													<tr>
														<td><label for="zip">ZIP Code:</label></td>
														<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
														<td><input type="text" size = "10" id="zip"></td>
													</tr>
												
													<tr>
																												
														<td><label for="education">Minimum Education:</label></td>
														<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
														<td><select  id="education">
																<option value = "None" selected = "selected">None</option>
																<option value = "Bachelor">Bachelor</option>
																<option value = "Master">Master</option>
																<option value = "Doctorate">Doctorate</option>
															</select></td>
													</tr>
													<tr>
																												
														<td><label for="sort">Sort Results By:</label></td>
														<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
														<td><select  id="sort">
																<option value="Class">Class</option>
																<option value="Company">Company</option>
																<option value="Location">Location</option>				
																<option value="Match" selected = "selected">Match</option>
															</select></td>
													</tr>
												</table>
											  
											
												
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="setOptions();">Save</button>
									      </div>
									    </div>

									  </div>
									</div>

							</div>

							<div id="JobResults" style="overflow : auto; height:900px;">
								<table id="tableSearchResults" class="table table-hover  table-striped table-condensed">
									<thead>
										<tr>
											<th>Title</th>
											<th>Company</th>
											<th>Location</th>
											<th>Class</th>
											<th>Match</th>
										</tr>
									</thead>
									<tbody id="tableSearchResults_body">
										
										<tr></tr>
									</tbody>
								</table>
							</div>

						</div>
					</section>

<!--GRAPH Modal-->

                  <!-- Modal -->
                  <div id="graphModal" class="modal fade " role="dialog">
                    <div class="modal-dialog  custom-class">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Job Skills</h4>
                        </div>
                        <div class="modal-body" id = "modal_graph">
                        <!-- level 1 category -->
                         </div>
                         <div class="modal-body" id = "modal_drilldown" style="border:1px solid black;">
                        <!-- drill-down category -->
                         </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                        </div>
                      </div>

                    </div>
                  </div>

              </div>


				</div>
			</div>
		</div>
	</div>

	<!-- </div> -->
	<!-- /#wrapper -->

	 	<!-- application custom javascript -->
 		<script src="/static/js/jobfiction.js"></script>


</body>
</html>